/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

.displayTable {
  display: table;
  width: 100%;
  height: calc(100vh - 5.5em);
}

.displayTableCell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
}